<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--
	Hibernate配置文件主要用来配置数据库连接以及Hibernate运行时所需的各个属性的值
 -->

<hibernate-configuration>

    <session-factory>
        <!-- 数据库连接设置 -->
        <!-- 配置数据库JDBC驱动 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 配置数据库连接URL -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/kuq_java</property>
        <!-- 配置数据库用户名 -->
        <property name="hibernate.connection.username">root</property>
        <!-- 配置数据库密码 -->
        <property name="hibernate.connection.password">a1069148429.</property>
        <!-- 配置JDBC内置连接池 -->
        <property name="connection.pool_size">100</property>
        <!-- 配置数据库方言 -->
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <!-- 输出运行时生成的SQL语句 -->
        <property name="show_sql">true</property>

        <!-- 列出所有的映射文件 -->
        <!--<mapping resource="hibernate/mappings/user_map.xml" />-->
        <mapping class="cn.yanglj65.entity.User"/>
    </session-factory>

</hibernate-configuration>
